{% extends "connected.html" %}
{% block subcontent %}
    {% if creneaux_list %}
        {% for creneau in creneaux_list %}
            {% if creneau is not None %}
                {% if creneau in creneaux_occuped %}
                    <div class="notification is-primary has-text-centered">
                        {{ creneau.date }} : Inscrit
                    </div>
                {% elif creneau in creneaux_en_attente %}
                    <div class="notification is-warninghas-text-centered">
                        {{ creneau.date }} : En liste d'attente
                    </div>
                {% else %}
                    {% if creneau.is_reservable and creneau.get_places_libres > 0 %}
                        <div class="notification is-info has-text-centered">
                            {{ creneau.date }} - 
                            <a class="button is-small" href="{% url 'reservations' creneau.id %}">M'INSCRIRE</a>
                        </div>
                    {% elif creneau.is_reservable and creneau.get_places_libres == 0 %}
                        <div class="notification is-info has-text-centered">
                            {{ creneau.date }} - 
                            <a class="button is-small" href="{% url 'reservations' creneau.id %}">M'INSCRIRE</a>
                        </div>
                    {% else %}
                        <div class="notification is-danger has-text-centered">{{ creneau.date }} : Complet</div>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="notification">
            Aucun cours disponible pour le moment.
        </div>
    {% endif %}
{% endblock %}