{% extends "base.html" %}
{% block content %}
<div class="container-fluid my-5">
    <h3>
        Il vous reste <strong>{{ user.credit }}</strong> séances.
        <a href="{% url 'user_account' %}" class="btn btn-info btn-sm">Voir mes seances</a>
    </h3>
    <hr>
    {% if creneaux_list and week_days %}
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead class="my_thead">
                    <tr class="center">
                        <th>HEURE</th>
                        {% for day in week_days %}
                            <th>{{ day }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for heure, creneaux_heure in creneaux_list.items %}
                        <tr>
                            <td class="heure">{{heure}}</td>
                            {% for jour, creneau in creneaux_heure.items %}
				                {% if creneau is not None %}
				                    {% if creneau in creneaux_occuped %}
				                        <td class="reserved">
                                            {{ creneau.cours.nom }} - Inscrit
                                        </td>
				                    {% elif creneau in creneaux_en_attente %}
				                        <td class="reserved_attente">
                                            {{ creneau.cours.nom }} - Liste d'attente
                                        </td>
			  	                    {% else %}
                                        {% if creneau.is_reservable and creneau.get_places_libres > 0 %}
                                            {% if creneau.get_places_libres >= 5 %}
                                                <td class="dispo">
                                                    <a href="{% url 'reservations' creneau.id %}">
                                                        {{ creneau.cours.nom }}
                                                    </a>
                                                </td>
                                            {% else %}
                                                <td class="warning">
                                                    <a href="{% url 'reservations' creneau.id %}">
                                                        {{ creneau.cours.nom }}
                                                    </a>
                                                </td>
                                            {% endif %}
                                        {% elif creneau.is_reservable and creneau.get_places_libres == 0 %}
                                            {% if creneau.en_attente < 10 %}
                                                <td class="full">
                                                    <a href="{% url 'reservations' creneau.id %}">
                                                        {{ creneau.cours.nom }}
                                                    </a>
                                                </td>
                                            {% else %}
                                                <td class="full">Complet</td>
                                            {% endif %}
                                        {% else %}
                                            <td class="no_cours">
                                                Cours indisponible
                                            </td>
			 	                        {% endif %}
				                    {% endif %}
				                {% else %}
                                    <td class="no_cours">Pas de cours</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>Aucun cours disponible</p>
    {% endif %}
</div>
    <style>
        .table td, th {
            text-align: center;
        }
        .my_thead{
            background-color: #30314A;
            color: white;
        }
        .dispo{
            background-color: #2196f3;
            cursor: pointer;
        }
        .dispo:hover{
            color: blue;
        }
        .heure{
            background-color:#EEEEEE;
        }
        .reserved{
            font-weight: bold;
            background-color: #4caf50;
            color: #EEEEEE;
        }
        .reserved_attente{
            font-weight: bold;
            background-color: #f44336;
            color: white;
        }
        .no_cours{
            background-color: #EEEEEE;
        }
        .warning{
            background-color: #ff9800;
        }
        .full{
            background-color: #f44336;
            color: white;
        }
        td a {
            color: white;
        }
    </style>
{% endblock %}