{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid row">
    <div id="form_div" class="col-10 m-3 p-3">
        <form action="/generer_creneau/" method="POST">
            {% csrf_token %}
            <div class="col-4">
                {{ form | crispy }}
            </div>
            <div class="col-4">
                    <input type="submit" value="Generer" class="btn btn-success">
            </div>
        </form>
    </div>
</div>
<style>

</style>
{% endblock%}