{% extends "base.html" %}
{% block content %}
<section class="hero is-success is-fullheight" id="main_hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title" id="main_title">AQUABIKE RIEUX-VOLVESTRE</h1>
            <a class="button is-info is-medium" href="{% url 'login' %}">CONNEXION</a>
        </div>
    </div>
</section>
<section id="section_info">
   <div class="container">
       <div class="columns">
           <div class="column has-text-centered">
                <h1 class="title has-text-info">UNE SEANCE</h1>   
                <div class="content">
                    <p>Encadrée par un maitre-nageur diplômé</p>
                    <p>Sur une musique rythmée</p>
                    <p>Pendant 45 minutes</p>
                    <p>De 300 à 500 calories dépensées</p>
                    <p>Dans un esprit collectif et dépassement de soi</p>        
                </div> 
           </div>
           <div class="column has-text-centered">
                <h1 class="title has-text-info">LES BENEFICES</h1>
                <div class="content">
                    <p>Gomme la cellulite</p>
                    <p>Affine la silhouette</p>
                    <p>Rafermit la peau</p>
                    <p>Perte de poids</p>
                    <p>Renforcement musculaire</p>
                </div>
           </div>
       </div>
   </div>
</section>
<section id="tarifs">
    <div class="container">
        <h1 class="title has-text-centered has-text-info">TARIFS</h1>
        <div class="columns">
            <div class="column">
                <div class="box tarif-box has-text-centered">
                    <h2 class="subtitle">1 SEANCE</h2>
                    <h1 class="title tarif">12 €</h1>
                </div>
            </div>
            <div class="column">
                <div class="box tarif-box has-text-centered">
                    <h2 class="subtitle">10 SEANCES</h2>
                    <h1 class="title tarif">100 €</h1>
                </div>
            </div>
            <div class="column">
                <div class="box tarif-box has-text-centered">
                    <h2 class="subtitle">20 SEANCES</h2>
                    <h1 class="title tarif">160 €</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero is-info" id="planning">
    <h1 class="title has-text-centered">PLANNING</h1>
    <table class="table is-hoverable">
        <thead>
            <tr>
                <th></th>
                <th>LUNDI</th>
                <th>MARDI</th>
                <th>MERCREDI</th>
                <th>JEUDI</th>
                <th>VENDREDI</th>
                <th>SAMEDI</th>
                <th>DIMANCHE</th>
            </tr>
        </thead>
        <tbody>
            <tr class="is-light">
                <td class="has-text-weight-bold">13H15</td>
                <td><i class="fas fa-times" style="color:red"></td>
                <td><i class="fas fa-times" style="color:red"></i></td>
                <td><i class="fas fa-times" style="color:red"></i></td>
                <td><i class="fas fa-times" style="color:red"></i></td>
                <td class="is-primary">AQUABIKE</td>
                <td class="is-primary">AQUABIKE</td>
                <td><i class="fas fa-times" style="color:red"></i></td>
            </tr>
            <tr>
                <td class="has-text-weight-bold">19H45</td>
                <td><i class="fas fa-times" style="color:red"></i></td>
                <td><i class="fas fa-times" style="color:red"></i></td>
                <td class="is-primary">AQUABIKE</td>
                <td><i class="fas fa-times" style="color:red"></i></td>
                <td><i class="fas fa-times" style="color:red"></i></td>
                <td><i class="fas fa-times" style="color:red"></i></td>
                <td><i class="fas fa-times" style="color:red"></i></td>
            </tr>
            <tr>
                <td class="has-text-weight-bold">20H15</td>
                <td class="is-primary">AQUABIKE</td>
                <td><i class="fas fa-times" style="color:red"></i></td>
                <td><i class="fas fa-times" style="color:red"></i></td>
                <td><i class="fas fa-times" style="color:red"></i></td>
                <td><i class="fas fa-times" style="color:red"></i></td>
                <td><i class="fas fa-times" style="color:red"></i></td>
                <td><i class="fas fa-times" style="color:red"></i></td>
            </tr>
        </tbody>
    </table>
</section>
<section id="autres_activites">
        <h1 class="title has-text-centered has-text-info">AUTRES ACTIVITES</h1>
        <div class="content has-text-centered">
            <h3 class="subtitle is-4">Leçon de natation</h3>
            <h3 class="subtitle is-4">Perfectionnement</h3>
            <h3 class="subtitle is-4">Aquaphobie</h3>
            <h3 class="subtitle is-4">Bébés nageurs</h3>
            <h3 class="subtitle is-4">Aqua-Anniversaires</h3>
        </div>
</section>
<footer class="footer">
    <div class="content has-text-centered">
        <p><b>Alexis PONS</b> maître nageur saveteur.</p>
        <p><i class="fas fa-phone"></i><b> 06 15 57 20 76</b></p>
        <p><i class="fas fa-envelope"></i><b> alexis.pons.rieux@orange.fr</b></p>
    </div>
</footer>

{% endblock %}