{% extends "connected.html" %}
{% block subcontent %}
<div class="notification">
    <h1 class="title">{{ creneau.date }}</h1>
    {% if creneau.get_places_libres == 0 %}
        <p>Cette séance n'a plus de places disponibles. Voulez-vous vous inscrire en liste d'attente ?</p>
        <p>Il y a <b>{{ creneau.get_en_attente }} personnes </b>en liste d'attente</p>
        {% if user.nb_resa >= 3 %}
            <p>Vous avez atteint le nombre de reservations maximum (3)</p>
        {% elif user.credit >= 0 %}
            <br>
            <a href="{% url 'reserver' creneau.id %}" class="button is-primary">S'INSCRIRE EN LISTE D'ATTENTE</a>
        {% else %}
            <p>Vous n'avez plus de credit. Veuillez nous contacter afin de crediter votre compte</p>
        {% endif %}
    {% else %}
        <p>Nombre de places disponibles : <strong>{{ creneau.get_places_libres }}</strong></p>
        {% if user.nb_resa >= 3 %}
            <p>Vous avez atteint le nombre de reservations simultanées maximum (3)</p>
        {% elif user.credit >= 0%}
            <br>
            <a href="{% url 'reserver' creneau.id %}" class="button is-primary">RESERVER</a>
        {% else %}
            <p>Vous n'avez plus de credit. Veuillez nous contacter afin de crediter votre compte</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}