{% extends "connected.html" %}
{% block subcontent %}
    <!-- SI il y a des reservations -->
    {% if reservations_list %}
        {% for creneau in creneaux %}
            {% for resa in reservations_list %}
                {% if resa.creneau == creneau %}
                    {% if resa.creneau.is_reservable %}
                        {% if resa.en_attente %}
                            <div class="notification is-warning has-text-centered">
                        {% else %}
                            <div class="notification is-primary has-text-centered">
                        {% endif %}
                            {{ creneau.get_name }}
                            {% if resa.is_annulable %}
                                <a class="button is-small is-pulled-right" href="{% url 'supprimer_resa' resa.id %}">ANNULER</a>
                            {% endif %}
                            {% if resa.is_en_attente %}
                                - N° {{ resa.en_attente }} en liste d'attente
                            {% endif %}
                            </div>
                    {% endif %}
                {% else %}
                    {% if creneau.is_reservable and creneau.get_places_libres > 0 %}
                        <div class="notification is-info has-text-centered">
                                {{ creneau.get_name }}
                            <a class="button is-small is-pulled-right" href="{% url 'reservations' creneau.id %}">M'INSCRIRE</a>
                        </div>
                    {% elif creneau.is_reservable and creneau.get_places_libres == 0 %}
                        <div class="notification is-info has-text-centered">
                            {{ creneau.get_name }}
                            <a class="button is-small is-pulled-right" href="{% url 'reservations' creneau.id %}">M'INSCRIRE</a>
                        </div>
                    {% else %}
                        <div class="notification is-danger has-text-centered">{{ creneau.date }} : Complet</div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    <!-- Si il n'y a pas de reservations -->
    {% else %}
        {% for creneau in creneaux %}
            {% if creneau.is_reservable and creneau.get_places_libres > 0 %}
                <div class="notification is-info has-text-centered">
                        {{ creneau.get_name }} - 
                    <a class="button is-small" href="{% url 'reservations' creneau.id %}">M'INSCRIRE</a>
                </div>
            {% elif creneau.is_reservable and creneau.get_places_libres == 0 %}
                <div class="notification is-info has-text-centered">
                    {{ creneau.get_name }} - 
                    <a class="button is-small" href="{% url 'reservations' creneau.id %}">M'INSCRIRE</a>
                </div>
            {% else %}
                <div class="notification is-danger has-text-centered">{{ creneau.date }} : Complet</div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}