{% extends "connected.html" %}
{% block subcontent %}
    {% for creneau in creneaux %}
        <!-- SI USER A UNE RES SUR LE CRENEAU -->
        {% if creneau.user_res is not None %}
            {% if creneau.is_reservable %}
                {% if creneau.user_res.en_attente %}
                    <div class="notification is-warning has-text-centered">
                {% else %}
                    <div class="notification is-primary has-text-centered">
                {% endif %}
                {{ creneau.get_name }}
                {% if creneau.user_res.is_annulable %}
                    <a class="button is-small is-pulled-right" href="{% url 'supprimer_resa' creneau.user_res.id %}">ANNULER</a>
                {% endif %}
                {% if creneau.user_res.is_en_attente %}
                    - N° {{ creneau.user_res.en_attente }} en liste d'attente
                {% endif %}
                </div>
            {% endif %}
        <!-- SI USER n'A PAS DE RES SUR LE CRENEAU --> 
        {% else %}
            {% if creneau.is_reservable and creneau.get_places_libres > 0 %}
                <div class="notification is-info has-text-centered">
                        {{ creneau.get_name }}
                    <a class="button is-small is-pulled-right" href="{% url 'reservations' creneau.id %}">M'INSCRIRE</a>
                </div>
            {% elif creneau.is_reservable and creneau.get_places_libres == 0 %}
                <div class="notification is-info has-text-centered">
                    {{ creneau.get_name }}
                    <a class="button is-small is-pulled-right" href="{% url 'reservations' creneau.id %}">M'INSCRIRE</a>
                </div>
            {% else %}
                <div class="notification is-danger has-text-centered">{{ creneau.date }} : Complet</div>
            {% endif %}
        {% endif %}
    {% endfor%}
{% endblock %}