{% extends 'base.html' %}
{% block content %}
<section class="hero is-success is-fullheight" id="main_hero">
    <div class="container">
        <div class="columns">
            <div id="login_container" class="has-background-info column is-half is-offset-one-quarter">
                <h1>Verifiez votre boîte mail</h1>
                <p style="padding:25px">Nous vous avons envoyé un mail contenant la procédure a suivre pour modifier votre mot de passe.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}