{% extends "base.html" %}
{% block content %}
<section class="hero is-success is-fullheight" id="main_hero">
    <div class="container">
        <div class="columns">
            <div id="login_container" class="has-background-info column is-half is-offset-one-quarter">
                <div id="password_reset_form">
                    <h1 class="title">Votre mot de passe a bien été modifié.</h1>
                    <p>Vous pouvez maintenant vous connecter</p>
                    <a class="button" href="{% url 'login' %}" >CONNEXION</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}