<!doctype html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Aquabike, rieux, rieux-volvestre, natation, piscine">
        <meta name="description" content="Website form aquabike session booking">
        <meta name="author" content="Sylvain PICARD">

        <!-- Bootstrap CSS -->
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <link rel="stylesheet" href="{% static 'reservations/new_style.css' %}">
        <title>Aquabike Rieux-volvestre</title>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>