{% extends "base.html" %}
{% block content %}
<section>
    <div class="container">
        <h1 class="title has-text-centered">AQUABIKE RIEUX-VOLVESTRE</h1>
        {% if messages %}
            {% for message in messages %}
            <div class="notification has-text-centered">
                {{message.message}}
            </div>
            {% endfor %}
        {% endif %}
        <div class="columns has-text-centered">
            <div class="column is-one-quarter">
                <aside class="menu">
                    <p class="menu-label">Bonjour {{ user.username }}</p>
                    <p class="menu-label">Il vous reste <b>{{ user.credit }}</b> séances</p>
                    <p class="menu-label">Legende</p>
                    <ul class="menu-list">
                        <li class="legend-tag"><span class="tag is-info">Vous pouvez vous inscrire</span></li>
                        <li class="legend-tag"><span class="tag is-primary">Vous etes inscrit(e)</span></li>
                        <li class="legend-tag"><span class="tag is-warning">Disponible en liste d'attente</span></li>
                        <li class="legend-tag"><span class="tag is-danger">Vous ne pouvez pas vous inscrire</span></li>
                    </ul>
                    <hr>
                    {% if user.is_superuser %}
                        <p class="menu-label">
                            <a href="/admin/" class="button is-info is-small">ADMIN</a>
                        </p>
                    {% endif %}
                    <p class="menu-label">
                        <a href="{% url 'logout' %}" class="button is-danger is-small">DECONNEXION</a>
                    </p>
                </aside>
            </div>
            <div class="column">
                {% block subcontent %}
                {% endblock %}
            </div>
        </div>
    </div>
</section>
<style>
.menu{
    padding: 3rem;
    border: 1px solid lightgray;
    border-radius: .5rem;
}
.legend-tag{
    margin: .5vh;
    width: 100px;
}
</style>
{% endblock %}