<nav class="navbar navbar-expand-lg">
	<a class="navbar-brand" href="{% url 'index' %}">AQUA BIKE RIEUX-VOLVESTRE</a>
  	<ul class="navbar-nav ml-auto">
		{% if user.is_authenticated %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				BONJOUR {{user.username|upper }}
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="{% url 'user_account' %}">MON COMPTE</a>
				<a class="dropdown-item" href="{% url 'creneaux' %}">RESERVER</a>
				{% if user.is_superuser %}
				<a class="dropdown-item" href="/admin">ADMIN</a>
				{% endif %}
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{% url 'logout' %}">DECONNEXION</a>
			</div>
		</li>
		{% else %}
    		<li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">INSCRIPTION</a></li>
			<li class="nav-item"><a class="nav-link" href="{% url 'login' %}">CONNEXION</a></li>
		{% endif %}
  	</ul>
  	<style>
    	.navbar{
        	/*margin-bottom: 1em;*/
            background-color: #2586AA;
        }
        .navbar-nav {
            flex-direction: row;
        }
        /* Fixes dropdown menus placed on the right side */
        .ml-auto .dropdown-menu {
            left: auto !important;
            right: 0px;
		}
		.nav-link, .navbar-brand{
			color: white;
		}
		a:hover{
			color: white;
		}
    </style>
</nav>